*{ margin: 0; padding: 0;}
ul,li{ list-style: none; }
html,body{
    font-family: 'STHeiti Light [STXihei]', Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '΢���ź�', Arial, sans-serif;
    font-size: 14px;
}

.treeViewCheckbox{ width:1000px; padding: 20px; box-sizing: border-box;  display: box; display: -webkit-box;  }
.treeViewCheckbox .treeView-left{ width:1%; padding:10px 5px;  min-height: 500px; border:1px solid #ccc; -webkit-box-flex: 6;   }
.treeViewCheckbox .treeView-group-wrap{ position:relative; z-index: 2;  width:1%;  height: 100px; -webkit-box-flex: 1; min-height: 500px;  text-align: center;  }
.treeViewCheckbox .treeView-group{ position: absolute; z-index: 2; left:50%; top:50%;  display: inline-block; width: 80px; height:120px;   margin: -60px 0 0 -40px;     }
.treeViewCheckbox .treeView-group p{ margin-bottom: 8px;}
.treeViewCheckbox .treeView-group .text{ width: 100%; background: #eee; color:#555; height: 30px; line-height: 30px; border-radius: 4px;  }
.treeViewCheckbox .treeView-group .add{  width:100%; height: 30px; line-height: 30px; color:#fff; background: #1E9FFF; border-radius: 4px; cursor: pointer; }
.treeViewCheckbox .treeView-group .clear{  width:100%; height: 30px; line-height: 30px; color:#fff; background: #1E9FFF; border-radius: 4px; cursor: pointer; }
.treeViewCheckbox .treeView-right{ width:1%; border:1px solid #ccc; -webkit-box-flex: 3;  height:650px; overflow: hidden;  }
.treeViewCheckbox .treeView-right .text{ width: 90%; padding: 0 10px; box-sizing: border-box;  margin: 10px 5%; background: #eee; color:#555; border-radius: 4px; height: 30px; line-height: 30px;   }
.treeViewCheckbox .treeView-right ul{ width:100%; max-height: 600px;  overflow-x: hidden; overflow-y: auto; }
.treeViewCheckbox .treeView-right ul li{ word-wrap:break-word ;word-break:break-all; width:90%; margin:5px 0 0 5%; background: #eee; color:#555; line-height: 25px; padding:0 10px; box-sizing: border-box; border-radius: 4px;}
.treeViewCheckbox .treeView-right ul li span{ padding: 0 5px; color:red; cursor: pointer;  }
.treeViewCheckbox .treeView-left .treeView-text{ position: relative;  width:235px; height:30px; margin-right: 10px;     }
.treeViewCheckbox .treeView-left .treeView-text input{position:relative; z-index: 1; outline: none; border:1px solid #D2D2D2; background:#fff; width:100%; padding: 0 70px 0 10px; height: 30px; box-sizing: border-box; border-radius: 2px; color:#555;    }
.treeViewCheckbox .treeView-left .treeView-text i{     position: absolute; z-index: 3;
    right: 10px;
    top: 50%;
    margin-top: -3px;
    cursor: pointer;
    border-width: 6px;
    border-top-color: #c2c2c2;
    border-top-style: solid;
    transition: all .3s;
    -webkit-transition: all .3s;   }
.treeViewCheckbox .text-edge{ display: inline-block;width: 0;height: 0; border-width: 6px;  border-style: dashed;border-color: transparent;overflow: hidden; }
.treeViewCheckbox .treeView-left .item-box{ width:100%; display: box; display: -webkit-box;  }
.treeView-text .text-selectednum{ position: absolute; z-index: 2; min-width: 20px; line-height: 16px; text-align: center; right:26px; top:5px; display: inline; background: #eee; padding: 2px; border-radius: 4px; color:#999;  }
.treeViewCheckbox .treeView-left .treeView-itemtext{ -webkit-box-flex:5 ; }
.treeViewCheckbox .tv-btn{ padding: 0 20px; background: #1E9FFF;  height: 30px; line-height: 30px; text-align: center; border-radius: 2px; color:#fff; cursor: pointer;    }
.treeViewCheckbox .tv-btn-inline{ display: inline-block; padding: 0 20px; background: #1E9FFF;  height: 30px; line-height: 30px; text-align: center; border-radius: 2px; color:#fff; cursor: pointer;    }
.treeViewCheckbox .tv-btns-wrap{ width:100%; padding:10px 0; }
.treeViewCheckbox .treeView-left .treeView-text .nolist{ width:100%; color:#555; text-align: center; line-height: 30px; background: #eee; display: none; }
.treeViewCheckbox .treeView-left .treeView-text .treebox-list{ display: none; position: absolute; top:30px; left:0; background: #fff; padding:10px 5px;   z-index: 10; width:100%; border:1px solid #D2D2D2; box-sizing: border-box; border-top:none;     }
.treeViewCheckbox .treeView-left .treeView-text .treebox-list ul{ overflow-x:hidden; overflow-y: auto; max-height: 280px; min-height: 100px;  }
.treeViewCheckbox .treeView-left .treeView-text .treebox-list li{ float:left; display: inline-block; padding:0 5px; height: 28px; line-height: 28px; color:#555; background: #eee; border-radius: 4px; cursor: pointer; margin:0 5px 5px 0;    }
.treeViewCheckbox .treeView-left .treeView-text .treebox-list ul .active{  color:#fff; background: #009688;}
.treeViewCheckbox .item{ padding: 5px 0 0 0; }
.treeViewCheckbox .item .item-title{ width:100%; padding-left:10px; box-sizing: border-box; color:#555; }
.treeViewCheckbox .item .item-list{ width:100%;   overflow-x:hidden; overflow-y: auto; height: 70px;  padding: 0 0 0 10px; box-sizing:border-box;  }
.treeViewCheckbox .item .item-list li{   float:left; display: inline-block; padding:0 5px; height: 28px; line-height: 28px; color:#555; background: #eee; border-radius: 4px; cursor: pointer; margin:0 5px 5px 0;}
.treeViewCheckbox .item .item-list li span{ padding: 0 10px; color:red;   }
.treeView-selecte-main{ width:100%;  }
.treeViewCheckbox .treeView-result{ width:100%; display: none; padding:10px 0 0 0;  }
.treeViewCheckbox .treeView-result .noresult{ width: 100%; display: none; padding: 10px 0; }
.treeViewCheckbox .treeView-result .noresult p{  display: inline-block; padding: 0 10px; margin:5px 0 5px 10px; height: 28px; line-height: 28px; color:#555; background: #eee; border-radius: 4px; }
.treeViewCheckbox .treeView-result .result-title-wrap{ width:100%; }
.treeViewCheckbox .treeView-result .result-title-wrap .result-search{ outline: none; border:1px solid #D2D2D2; width:160px; height: 30px; line-height: 30px;  padding: 0 10px; color:#555;     }
.treeViewCheckbox .treeView-result .result-title{ padding-left:10px; box-sizing: border-box; color:#555; display: inline-block; }
.treeViewCheckbox .treeView-result .result-list{   width:100%;   overflow-x:hidden; overflow-y: auto; min-height: 70px; max-height: 280px; padding: 10px 0 10px 10px; box-sizing:border-box;}
.treeViewCheckbox .treeView-result .result-list li{ margin:0;  float:left; display: inline-block; padding:0 5px; height: 28px; line-height: 28px; color:#555; background: #eee; border-radius: 4px; cursor: pointer; margin:0 5px 5px 0;}
.treeViewCheckbox .treeView-result .result-list .active{  color:#fff; background: #009688;}