@charset "utf-8";
/*by yanchixia*/
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, p, th, td {margin: 0;padding: 0;}
img {border: 0;}
cite,em,strong,th{font-style: inherit;font-weight: inherit;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input,button,textarea,select{font-family: inherit;font-size: inherit;font-style: inherit;font-weight: inherit;}
input,button,textarea,select{*font-size: 100%;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
th{text-align: left;}
:link, :visited {text-decoration: none;}
td,th,div{word-break:break-all;word-wrap:break-word}
form{display:inline;}
*{outline:none}
/*clear both*/
.cc{*zoom:1;}
.cc:after{content:'\20';display:block;height:0;clear:both;visibility: hidden;}
.c{clear:both;height:0px;font:0px/0px Arial;overflow:hidden;width:0;}
/*all style*/
.b{ font-weight:700;}
.w{white-space:nowrap}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.fr{float:right}
.fl{float:left}
.pr{position:relative}
.cp{cursor:pointer;}
.vt,.vt td{vertical-align:top;}
/*font size*/
.f10{font-size:10px;}
.f12{font-size:12px}
.f14{font-size:14px}
.f16{font-size:16px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.fn,.fn a{font-weight:normal}
/*Patch*/
.mt10{margin-top:10px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
/*layout*/
html,body{overflow:hidden;width:100%;height:100%;font-family:Arial;color:#333;font-size:12px;background:url(../img/bg.jpg);}
iframe{height:100%;width:100%;background:url(../img/bg.jpg);}
a{color:#333; text-decoration:none;}
.wrap{min-width:880px;}
/*top*/
.head{height:60px;background:url(../img/layout/head.png);}
.head th{width:160px;}
.logo{display:block;width:160px;height:60px;overflow:hidden; text-indent:-2000em; background:url(../img/layout/logo.png) no-repeat;}
.nav,.nav li.current,.nav li a:hover{background:url(../img/layout/nav.png) 0 0 repeat-x;-webkit-transition: all 0.2s ease-out;}
.nav{border-bottom:1px solid #446474;border-right:1px solid #446474;float:left;background-color:#1a2a32;overflow:hidden;}
.nav ul{float:left;border-left:1px solid #071b25;border-top:1px solid #071b25}
.nav li{float:left;line-height:30px;background:url(../img/layout/nav_li.png) right center no-repeat;}
.nav li a{float:left;display:block;font-size:12px;color:#fff;width:90px;text-align:center;text-shadow:0 1px 0 #000;}
.nav li.current{background-position:0 -60px;border-right:1px solid #311809; font-weight:700;}
.nav li a:hover{background-position:0 -120px;}
.login_info{float:right; font-size:12px;color:#ccc;line-height:30px;padding-right:30px; white-space:nowrap;}
.login_info a{color:#19b0ff;}
.login_info a:hover{color:#4dc2ff;}
/*left*/
/*
.menubar{}
.menubar li{ }
.menubar li a{display:block;line-height:25px;height:25px;overflow:hidden;padding:0 10px 0 26px;border-bottom:1px solid #f8f8f8;background:url(../img/layout/menu_li.png) 10px center no-repeat}
.menubar li.current a.name,.menubar li a:hover{border-bottom:1px solid #fff;background-color:#e9e9e9;}
.menubar li.current div{padding-left:16px;}
.menubar li.current div a{}
.menubar li div p.current a{background:url(../img/layout/p_cur.png) 10px center no-repeat;color:#005eac;}*/
.content th{background:#f8f8f8; vertical-align:top;border-right:1px solid #fff; font-weight:100;width:168px}
.menubar{padding:20px;overflow:hidden;font-weight:100;}
.menubar dl{padding:0;margin:0;}
.menubar dt{font-size:12px;}
.menubar dt a{display:block;line-height:25px;height:25px;overflow:hidden;padding:0 10px 0 20px;border-bottom:1px solid #f8f8f8;background:url(../img/layout/menu_li.png) 10px center no-repeat; }
.menubar dt.current a,.menubar dt a:hover{border-bottom:1px solid #fff;background-color:#e9e9e9;}
.menubar dd{padding-left:12px;}
.menubar ul li{padding:0;margin:0 0 5px;}
.menubar ul li a{background:url(../img/content/next.png) 10px center no-repeat;display:block;line-height:25px;height:25px;overflow:hidden;padding:0 10px 0 20px;font-size:12px;}
/*tab*/
.tab th,.tab td{height:30px;}
.tab th{background:#f8f8f8;border-right:1px solid #fff; font-weight:100;padding-left:20px;}
.tab td{ vertical-align:top;padding:0;}
/*search*/
.search{border:1px solid;border-color:#aaa #ccc #ccc #aaa;background:#fff;height:19px;width:118px;overflow:hidden;float:left;padding:0;margin-top:8px;}
.search input{border:0 none;float:left;padding:2px 2px 0;font:12px Arial;vertical-align:middle;width:92px;background:#fff;margin:0;}
.search button{float:left;border:0 none;background:#fff;height:16px;cursor:pointer;width:22px;padding-top:1px;margin:0;}
.gray{color:#999;}
/*tabA*/
.tab td,.tabA_pre,.tabA_next,.tabA_pre_old,.tabA_next_old,.tabA li span,.tabA li .del{background:url(../img/layout/tab.png);}
.tabA ul{line-height:29px;height:29px;overflow:hidden;}
.tabA li{float:left;margin-right:1px; font-size:12px;border-left:1px solid #fff;border-right:1px solid #fff;}
.tabA li span{display:block;line-height:29px;height:29px;padding:0 10px 0 15px;float:left;background-position:0 -30px;white-space:nowrap; cursor:pointer;}
.tabA li span:hover{ background-position:0 -60px;}
.tabA li span:hover a{color:#000;}
.tabA li a{outline:none;float:left;font-style:normal;color:#7e614e;padding-right:8px;}
.tabA li a:hover{color:#000;}
.tabA li .del{width:7px;height:7px;overflow:hidden;display:block;text-indent:-2000em; background-position:-20px -130px;margin:11px 0 0;position:relative;padding:0;}
.tabA li .del:hover{ background-position:-27px -130px;}
.tabA li.current span{ background-position:0 -90px;}
.tabA li.current a{font-weight:700;color:#000;}
.tabA .fr{margin-top:10px;}
.tabA_pre,.tabA_next,.tabA_pre_old,.tabA_next_old{width:5px;height:9px;display:block;overflow:hidden;text-indent:-2000em;margin:10px 8px 0;*margin:10px 5px 0 8px;}
.tabA_pre{background-position:0 -130px;float:left;}
.tabA_next{background-position:-4px -130px;float:right;}
.tabA_pre_old{ background-position:-9px -130px; float:left;}
.tabA_next_old{ background-position:-13px -130px; float:right;}
/*up down*/
.menuNext,.menuNext a{background:url(../img/layout/menu_next.png) 999px 999px no-repeat;}
.menuNext{height:21px; background-position:0 0; position:absolute; bottom:0;left:0;width:140px;}
.menuNext a{float:left;width:70px;height:21px; text-indent:-2000em;overflow:hidden;}
.menuNext a.pre:hover{ background-position:0 -30px;}
.menuNext a.next:hover{background-position:right -30px;}
.menuNext a.pre_old,.menuNext a.pre_old:hover{ background-position:0 -61px;}
.menuNext a.next_old,.menuNext a.next_old:hover{ background-position:right -61px;}
/*options*/
.options{position:absolute;right:20px;top:89px;background:#e6e6e6;border:1px solid #fff;border-top:0;padding:5px 10px;font-size:12px;}
.options a{}